/* App.css */
@import '~leaflet/dist/leaflet.css';

body {
  margin: 0;
  background-color: #400c1c;

}

.App {
  background-color: #38041c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.animation_layer.parallax {
  position: fixed; /* Change the position to 'fixed' for the parallax effect to work */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  background-image: url(./elements/stars.png);
}


.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: relative;
	z-index: 10;
}



.animation_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;
}

#blackscreen{
  background-image: url(./elements/blackscreen.png);
}

#stars {
  background-image: url(./elements/stars.png);
  size-adjust: 50%;
}

#moon {
  background-image: url(./elements/moon.png);
  size-adjust: 50%;
}

#mountain1 {
  background-image: url(./elements/mountains_behind.png);
}
#background{
  background-image: url(./elements/background.png);
}
#cloud {
  background-image: url(./elements/cloud.png);
  background-position: 0 0; /* Start the cloud at the leftmost position */
  background-repeat: repeat-x; /* Repeat the cloud horizontally */
}

#bigFoot{
  background-image: url(./elements/bigFF.png);
} 

#scrollText{
  background-image: url(./elements/scrollext.png);
}

/* Apply styles to the navigation bar */
nav {
  background-color: #eee;
  padding: 10px 0;
}



/* Apply styles to the map container */
.map-container {
  height: 700px; /* Set an appropriate height for your map */
  width: 700%;
  border-radius: 20px;
}

.mapStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150%;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  padding-right: 20px;
  margin-bottom: 120px;
}

.image-container {
  position: relative;
}

.positioned-image {
  position: absolute;
  top: -60px;
  left: 855px;
  max-width: 1000; /* Make the image responsive */
  height: auto;
  
}

.positioned-BF {
  position: absolute;
  top: 260px;
  left: 355px;
  width: 30%;
  max-width: 1000; /* Make the image responsive */
  height: auto;
  
}

.positioned-txt {
  position: absolute;
  top: 2460px;
  left: -40px;
  width: 100%;
  max-width: 1000; /* Make the image responsive */
  height: auto;
  
}

.positioned-alg {
  position: absolute;
  top: -50px;
  right:20px;
  width: 32%;
  max-width: 1000; /* Make the image responsive */
  height: auto;
  
}


.input-form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.input-form label {
  margin-right: 10px;
  top: -80px;
  right:20px;
  size: 500px;
}

.input-form input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}